[Unit]
Description=CephFS OSD %i
Requires=network.target
Wants=ntpdate.service ntpd.service
After=network.target ntpdate.service ntpd.service

[Service]
Type=simple
Restart=always
RestartSec=2s
ExecStart=/usr/bin/ceph-osd -f -i %i

[Install]
WantedBy=multi-user.target
