# OCSPd example configuration file.
# (c) 2001 by Massimiliano Pala - OpenCA Project.
# All rights reserved

[ ocspd ]
default_ocspd   = OCSPD_default

[ OCSPD_default ]
dir               = /usr/local/etc/ocspd
db                = $dir/index.txt
md                = sha1
ca_certificate    = $dir/certs/cacert.pem
ocspd_certificate = $dir/certs/ocspd_cert.pem
ocspd_key         = $dir/private/ocspd_key.pem
pidfile           = $dir/ocspd.pid
user              = ocspd
group             = daemon
bind              = *
port              = 2560
max_childs_num    = 5
max_req_size      = 8192
request           = ocsp_req
response          = ocsp_response
dbms              = dbms_ldap     # Example using the LDAP for CRL
                                  # retrivial
#dbms             = dbms_file     # Example using file for CRL
engine = HSM                      # ENGINE section

####################################################################

[ ocsp_req ]
default_keyfile         = key.pem

####################################################################

[ ocsp_response ]
dir                     = /usr/local/etc/ocspd
ocsp_add_response_certs = $dir/certs/chain_certs.pem
ocsp_add_response_keyid = yes
next_update_days        = 0
next_update_mins        = 5

####################################################################

[ dbms_ldap ]

# It is possible to use an URI to identify a CRL and/or the
# CA certificate, the general format is:
#
#      [protocol]://[user[:pwd]@]server[:port]/[path]
#
# where:
#   protocol - specifies the protocol to be used, supported are
#              file, ldap, http
#   user     - is the user for auth (meaningful only if ldap or
#              http is used)
#   pwd      - password used for auth (meaningful only if ldap
#              or http is used)
#   port     - port to connect to (meaningful only if ldap or
#              http is used)
#   path     - complete path to the object (meaningful only if
#              http is used)
#
# You can have the CRLs/CA certificates on a simple file
#    crl_url = file:///usr/local/etc/ocspd/crl.pem
#
# You can retrieve the CRLs/CA certificates from a web server
#    crl_urt = http://server/ca/cacert.der
#
# You can store the CRL into an LDAP server, simply
# store it in certificateRevocationList;binary attribute
#
# There are different way, all legal, to specify the CRL
# URL address:
# crl_url = ldap://user:pwd@ldap.server.org:389
# crl_url = ldap://ldap.server.org:389
crl_url = ldap://localhost

# The CRL entry DN is the DN to look for when retrieving the
# date from the LDAP server. Put here the complete DN (usually
# the DN of the CA's certificate).
crl_entry_dn = "email=email@address, cn=Certification Auth, \
                                            o=Organization, c=IT"

####################################################################

[ dbms_file ]

# You can have the CRL on a simple file in PEM format
crl_url = file:///usr/local/etc/ocspd/crl.pem

[ HSM ]
# Hardware accelerators support via the ENGINE interface
engine_id = MyAccelerator
0.engine_pre = login:1:10:11:myPassword
# 0.engine_post = logout:1:10:11
    